#body{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 55%;
    margin-top: -100px;
    bottom: 20px;
    z-index: 10;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}

body{
    margin:0 auto;
    font-size: 17px;
}

.header > .desc {
    font-size: 12px;
}

.content {
    margin-top:10px;
}

#footer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 13px;
}

#footer ul {
    list-style: disc;
    bottom: 0;
    margin: 0;
    padding: 0;
}

#footer ul li {
    color: #B40E0C;
    display: inline;
    padding: 0 5px;
    list-style: circle;
    font-size: 11px;
    white-space: nowrap;
}
